<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amaysim</title>
  </head>
  <body>
    <!-- 紫のところ -->
    <div class="text1">
      <div class = "img1">
      <img class = "img1" src = "https://www.amaysim.com.au/sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt">
          <div class="text_only">
            <p>win a Google Home, Chromecast Ultra and a year of nbn™</p>
          </div>
        </div>
      </div>

<!-- ここから３つのテキスト -->

        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">no lock-in contracts</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">simple to join</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">easy to manage</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
            </div>
          </div>
        </div>

        <!-- ここからオレンジの写真 -->



<div class="text_img/">


          <div class="text_img1">
      <p class = "moji">sim-only mobile plans<br>
      Unlimited standard talk and text<br> with heaps of data for use in Oz.</p>
        <img class = "img2"src = "https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/mobile%20plans.png?itok=69f-sg5G">
    </div>

    <div class="text_img1">
      <p class = "moji">nbn broadband plans<br>
      Unlimiteddata with superfast speeds.<br> No lock-in contracts.</p>
        <img class = "img2"src = "https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/nbn.png?itok=YemmV9dC">
        </div>

    <div class="text_img1">
      <p class = "moji">data-only plans<br>
      Mobile broadband for your tablets<br>  and devices, for use in Oz.</p>
        <img class = "img2"src = "https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/data%20only.png?itok=dGtEaTb5">
    </div>

  </ul>
</div>

    <div class="text2">
      <img class="text2_img" src="https://www.amaysim.com.au/sites/default/files/cta/2017-07/website_award_2016-2017.png" alt="logo2">
      <div class="text_big_small">
      <p class ="big_size">93% of our customers have<br>recommended amaysim to their mates</p>
      <p class ="small_size">NPS tracking survey of 2679 customers, May 2017</p>
     </div>
    </div>


<p class = "what">what we've been up to</p>

  </body>
</html>
